.navbar{
  display: flex;
  justify-content:;
}



.links{
  display: flex;
  justify-content: flex-start;
}

.help-links{
  display: flex;
}

.admin-panel {
  display:flex;
  flex-direction: column;
  border:1px solid silver;
  border-radius:2px;
  position:fixed;
  right:3%;
  bottom:30px;
  opacity:0.3;
  padding:10px;
}

.admin-panel a {
  margin:5px 0;
}

.admin-panel:hover {
  opacity:1;
}

.carousel-indicators {
  color:black;
}


.image-center{
  margin-top: 0rem;
  max-width: 500px;
  max-height: 400px;

}

.carousel-item.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top{
  margin-top:1rem;
  margin-left: 6rem;
  max-width: 200px;
  max-height: 300px;
}

.card{
  display: flex;
}

#navbar_order{
  margin-right:2rem;
}

#navbar_order:hover{
  margin-top:0;
  margin-bottom: 0;
  border-bottom: 2px solid black;
}

#navbar_logout:hover{
  margin-top:0;
  margin-bottom: 0;
  border-bottom: 2px solid black;
}

#navbar_tag:hover {
  margin-top:0;
  margin-bottom: 0;
  border-bottom: 2px solid black;
}

#a-cart{
  text-decoration:none;
  color:black;

}

.cart-btn{

  margin-left: 25rem;
  margin-right: auto;
  font-size:20px;

}

.row{

}
