{% extends 'blog/base_blog.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="pass_reset_done_card">
    <h1>{% trans "Password reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}The password reset email was sent to your mail. If you do not receive the e-mail, please contact to admin.{% endblocktrans %}</p>
  </div>
{% endblock %}
