{% extends 'blog/base_blog.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="logout_card">
<h1>{% trans "Выход" %}</h1>

<p>{% trans 'Вы уверены что хотите выйти из учетной записи?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-danger">{% trans 'Выйти' %}</button>
</form>
</div>

{% endblock %}
