.admin-panel {
    background-color: white;
    border:3px solid #999;
    border-radius: 5px;
    position:fixed;
    right:50px;
    bottom:30px;
    opacity: 0.3;
    padding: 15px;
}

.admin-panel:hover {
  opacity: 1;
}


.admin-panel a {
  display: block;

}


#delete {
  display: none;
}

#edit {
  display: none;
}


body {
  background-color: silver;
}

    /* Card style */
.post_card {
  background-color: ;
}


#tags{
  text-decoration: none;

}


/* Navbar style */

#navbar_main{

  transition: all .5s ease-in-out;
  padding: 20px;



  background-image:url(/home/maslo/Documents/django/app/blogengine/static/css/home.png);
  background-position: center;
  background-size:35px;
  background-repeat: no-repeat;



}


#hr {
  margin-top: 0;
}


/* search style */

#search {

}




.login_card{
  color:white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color:#2c3133;

}

.signup_card{
  color:white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color:#2c3133;
}





.logout_card {
  color:white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color:#2c3133;
  width: 350px;
}







.pass_reset_card {
  color:white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color:#2c3133;


}

.pass_reset_done_card {
  color:white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color:#2c3133;
}

.post_body_page {
  background-color: white;
  padding-left:20px;
  padding-top:20px;
  border:0px solid black;
  border-radius:5px;
  height: 500px;
  width: 600px;
}


#hrr {

  width:560px;
}

#p32{
  font-size: 20px;
}


.tag_detail_page {
  padding: 10px;
  width: 570px;
  border:1px solid black;
  border-radius:5px;
  background-color:#515658;

}

#tag_color_text {
  color:white;
}

.tags_list_page {
  background-color:white;
  border-radius:10px;
  border:1px solid black;
  padding:10px;
}


#hr_tags_list {

  width:490px;
}



@media  screen and (max-width:991px) {

  #navbar_logout {

    border:0px;
    color:white;

  }





  #searchfield {


    width:150px;
}




 
